@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

:root {
  --main-color: #0B467B;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}