@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --main-background-light: #FDFDFD;
  --main-background-light-focus: #fbfbfb;
  --main-color: #0B467B;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#msg-placeholder {
  position: fixed;
  height: 0px;
  width: 100%;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  z-index: 100;
}