.boardContainer {
  background-color: #fafafa;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.sectionTitle {
  margin-bottom: .5rem;
  color: #333;
}

.chartTitle {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: .3rem;
}