.button {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: .7rem 1.1rem;
  transition: .1s;
  min-width: 8rem;
  margin: 3px;
  max-height: 43.375px;
}

.button:hover,
.button:focus {
  outline: none;
}

.button:disabled {
  opacity: .5;
  cursor: wait;
}

.buttonConfirm {
  box-shadow: 0 0 0 1.5px #c8d8b4;
  background-color: #daf7b7;
  color: #697e4d;
}

.buttonConfirm:hover,
.buttonConfirm:focus {
  box-shadow: 0 0 0 3px #a0ad91;
  background-color: #c3dda3;
  color: #4e5e39;
}