.placeholder {
  position: fixed;
  height: auto;
  width: auto;
  top: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  z-index: 100;
}

.message {
  display: grid;
  grid-template-columns: auto 20px;
  min-height: 45px;
  max-width: 300px;
  padding: 20px 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}

.closeMessageBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0, .1);
  color: rgb(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: .8rem;
}

:global(.m-type-e) {
  background-color: rgba(226, 164, 164, 0.95);
  color: #523030;
  border: 1px solid rgba(211, 153, 153, 0.95);
}

:global(.m-type-s) {
  background-color: rgba(196, 223, 184, 0.95);
  color: #365230;
  border: 1px solid rgba(179, 207, 167, 0.95);
}

:global(.m-type-a) {
  background-color: rgba(226, 220, 164, 0.95);
  color: #525030;
  border: 1px solid rgba(161, 157, 117, 0.95);
}

:global(.m-type-n) {
  background-color: rgba(218, 218, 218, 0.95);
  color: #3f3f3f;
  border: 1px solid rgba(153, 153, 153, 0.95);
}