.form {
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

.inputsContainer {
  display: inline-block;
  margin-right: 0.5rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}

.input {
  -moz-appearance: 'textfield';
  font-size: 1.2rem;
  border: none;
  height: 43.3833px;
  padding: .5rem;
  border-radius: 4px;
  transition: .2s;
  outline: none;
  box-shadow: 0 0 0 2px #eee;
  margin: 0 .3rem;
}

.input:hover,
.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ddd;
}

.input.month {
  width: 40px;
}

.input.year {
  width: 65px;
}

.monthSelector,
.yearSelector {
  margin: .2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.yearSelector {
  margin-top: 0;
}

.monthSelector>span,
.yearSelector>span {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  border-radius: 4px;
  font-size: .875rem;
  background-color: #e6e6e6;
  color: #616161;
  padding: .5rem;
  margin: .3rem;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.monthSelector>span {
  width: 30px;
}

.yearSelector>span {
  width: 60px;
}

.monthSelector>span:hover,
.yearSelector>span:hover {
  box-shadow: 0 0 0 2px #ddd;
}

@media screen and (max-width: 480px) {

  .monthSelector>span,
  .yearSelector>span {
    height: 50px;
    border-radius: 4px;
    font-size: 1rem;
    margin: .6rem;
  }

  .monthSelector>span {
    width: 50px;
  }

  .yearSelector>span {
    width: 80px;
  }

  .input {
    font-size: 1.2rem;
    border: none;
    height: 50px;
    padding: .5rem;
    border-radius: 4px;
    transition: .2s;
    outline: none;
    box-shadow: 0 0 0 2px #eee;
    margin: 0 .3rem;
  }

  .input.month {
    width: 50px;
  }
}