.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #00000080;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: #fafafa;
  width: 800px;
  height: fit-content;
  border-radius: 5px;
  animation: animateFormContainer .2s forwards;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, .1);
}

@keyframes animateFormContainer {
  from {
    transform: scale(.8);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.titleBar {
  border-bottom: 3px solid lightgray;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.modalTitle.d {
  color: rgb(119, 0, 0);
}

.modalTitle.r {
  color: rgb(0, 99, 0);
}

.modalTitle.t {
  color: rgb(104, 0, 104);
}

.buttonsContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
}

.buttonsContainer>span {
  background-color: #f3f3f3;
  border-radius: 50%;
}

.closeButton>svg,
.pinButton>svg {
  fill: #717171;
}

.pinButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.pinButton.active>svg {
  fill: var(--main-color);
}

.pinButton:hover>svg {
  fill: var(--main-color);
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.closeButton:hover>svg {
  fill: red;
}

.transactionForm {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.checkboxesContainer {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  justify-content: space-between;
  grid-column: span 5;
}