.settingsContainer {
  height: 400px;
  width: 500px;
  overflow: auto;
}

.settingsGroup {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

.settingsGroup:last-of-type {
  margin-bottom: 0;
}

.settingsGroup>h3 {
  margin-bottom: 1rem;
  color: #2c2c2c;
}

.setting {
  margin-bottom: 1.5rem;
}

.setting:last-child {
  margin-bottom: 0;
}

.setting h4 {
  font-size: .875rem;
  margin-bottom: .5rem;
  color: #2c2c2c;
  font-weight: lighter;
}

.info {
  width: 400px;
  font-size: .845rem;
  background-color: #f1f1d6;
  color: #727251;
  padding: .8rem;
  line-height: 1.5;
  text-align: center;
}

.optionsSelector {
  display: flex;
  gap: .8rem;
  margin-bottom: .5rem;
}

.optionsSelector>span {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  border-radius: 4px;
  font-size: .875rem;
  background-color: #e6e6e6;
  color: #616161;
  padding: .5rem;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.optionsSelector>span.active {
  background-color: var(--main-color);
  color: #f3f9fd;
}

.optionsSelector>span:hover {
  box-shadow: 0 0 0 2px #ddd;
}