.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  gap: 2rem;
}

.loginContainer {
  background-color: var(--main-background-light);
  min-height: 300px;
  min-width: 350px;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid #eee;
}


.subtitle {
  display: block;
  max-width: 70%;
  margin: 0 auto;
  margin-top: .2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}