.tableContainer {
  width: fit-content;
  max-width: 1200px;
  overflow: auto;
  margin: 1rem auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.table {
  max-width: 1200px;
  overflow: scroll;
  background-color: white;
  font-size: .875rem;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: .6rem 1rem;
  margin: 0;
}

[data-sticky="left-1"] {
  position: sticky;
  left: 0;
}

[data-sticky="left-2"] {
  position: sticky;
  left: 133.25px;
  background-color: #ffffff;
}

.table [data-cell-type="group-prev"],
.table [data-cell-type="month-prev"],
.table [data-cell-type="accumulated-prev"] {
  background-color: #eeeeee;
  color: #a5a5a5;
  height: 40px;
  cursor: default;
  border-left: 1px solid #e0e0e0;
}

.table [data-cell-type="group-exec"],
.table [data-cell-type="month-exec"],
.table [data-cell-type="accumulated-exec"] {
  background-color: #e7e7e7;
  color: #8b8b8b;
  height: 40px;
  cursor: default;
  border-right: 1px solid #e0e0e0;
}

.table [data-cell-type="cat-prev"] {
  background-color: #fcfcfc;
  color: #a5a5a5;
  height: 40px;
  cursor: pointer;
  border-left: 1px solid #e0e0e0;
}

.table [data-cell-type="cat-exec"] {
  background-color: #f5f5f5;
  color: #8b8b8b;
  height: 40px;
  cursor: pointer;
  border-right: 1px solid #e0e0e0;
}

.table [data-cell-type="group-title"],
.table [data-cell-type="group-result"],
.table [data-cell-type="result-title"],
.table [data-cell-type="month-result"],
.table [data-cell-type="accumulated-result"] {
  background-color: #f3f2ea;
}

.table [data-cell-type="category-title"] {
  background-color: #ffffff;
}

.table [data-cell-type="group-prev"][data-is-selected="true"],
.table [data-cell-type="month-prev"][data-is-selected="true"],
.table [data-cell-type="accumulated-prev"][data-is-selected="true"] {
  background-color: #ECEBE4 !important;
  color: #a09f9a;
}

.table [data-cell-type="group-exec"][data-is-selected="true"],
.table [data-cell-type="month-exec"][data-is-selected="true"],
.table [data-cell-type="accumulated-exec"][data-is-selected="true"] {
  background-color: #e4e4dd !important;
  color: #94948e;
}

.table [data-cell-type="cat-prev"][data-is-selected="true"] {
  background-color: #fffff2 !important;
  color: #a09f9a;
}

.table [data-cell-type="cat-exec"][data-is-selected="true"] {
  background-color: #ffffe8 !important;
  color: #94948e;
}

.transactionsOnBudgetContainer {
  max-height: 350px;
  overflow: auto;
}

@media screen and (max-width: 480px) {
  .tableContainer {
    width: 100vw;
    box-shadow: none;
  }

  .table {
    font-size: .8rem;
  }

  [data-sticky="left-2"] {
    left: 119px;
  }

  .table th,
  .table td {
    padding: .4rem .8rem;
  }

  .transactionsOnBudgetContainer {
    max-height: unset;
    height: 80vh;
  }
}