.tableContainer {
  width: 1200px;
  overflow: auto;
  margin: 1rem auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.table {
  max-width: 1200px;
  overflow: scroll;
  background-color: white;
  font-size: .875rem;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: .6rem 1rem;
  margin: 0;
}

[data-sticky="left-1"] {
  position: sticky;
  left: 0;
}

td[data-cell-type="group-prev"] {
  background-color: #eeeeee;
  color: #8f8f8f;
  height: 40px;
  cursor: default;
}

td[data-cell-type="group-exec"] {
  background-color: #e7e7e7;
  color: #6d6d6d;
  height: 40px;
  cursor: default;
}

td[data-cell-type="cat-prev"] {
  background-color: #fafafa;
  color: #8f8f8f;
  height: 40px;
  cursor: pointer;
}

td[data-cell-type="cat-exec"] {
  background-color: #f5f5f5;
  color: #6d6d6d;
  height: 40px;
  cursor: pointer;
}

.table [data-cell-type="group-title"] {
  width: 300px;
  background-color: #ffffff;
}

.table [data-cell-type="category-title"],
.table [data-cell-type="result-title"] {
  background-color: #ffffff;
  width: 300px;
}

.table [data-cell-type="group-prev"][data-is-selected="true"] {
  background-color: #ffffe3 !important;
}

.table [data-cell-type="group-exec"][data-is-selected="true"] {
  background-color: #fdfdd6 !important;
}

.table [data-cell-type="cat-prev"][data-is-selected="true"] {
  background-color: #fffff2 !important;
}

.table [data-cell-type="cat-exec"][data-is-selected="true"] {
  background-color: #ffffe8 !important;
}