.statementItem {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 70px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 30px 3fr 1fr auto auto auto;
  gap: 1rem;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  grid-auto-flow: column;
  position: relative;
}

.typeIcon {
  grid-row: span 2;
  align-self: center;
}

.T {
  background-color: #F1EDF6;
}

.R {
  background-color: #EAF6EC;
}

.D {
  background-color: #F6EDED;
}

.I {
  background-color: #f5f2db;
}

.description {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.D>.container>.typeIcon {
  fill: #FFB6B6;
}

.R>.container>.typeIcon {
  fill: #99eb9d;
}

.T>.container>.typeIcon {
  fill: #D6B6FF;
}

.I>.container>.typeIcon {
  fill: #bebb8b;
}

.D>.container>.value {
  color: #BA3939;
}

.R>.container>.value {
  color: #2FA12C;
}

.T>.container>.value {
  color: #7139BA;
}

.I>.container>.value {
  color: #7e7c24;
}

.account,
.category,
.account>a,
.category>a {
  font-weight: lighter;
  color: #00000095;
}

.date,
.preview {
  font-weight: regular;
  color: #00000090;
  display: flex;
  align-items: center;
  gap: .3rem;
  font-size: .875rem;
  font-weight: lighter;
}

.date,
.preview>svg {
  fill: rgba(0, 0, 0, .3);
}

.preview {
  cursor: pointer;
}

.notPointer {
  cursor: not-allowed !important;
}

.container {
  grid-row: span 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.menuBtn {
  grid-row: span 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .2s;
  align-self: center;
  display: inline-flex;
  align-items: center;
  align-content: center;
}

.menuBtn::after {
  display: block;
  content: "";
  height: 1px;
  width: 20px;
  background-color: #8d8d8d;
  box-shadow: 0px -8px 0px #8d8d8d, 0px 8px 0px #8d8d8d;
}

.menuBtn:hover::after {
  transform: scale(1.07);
}

.menuBtnActive {
  transform: rotate(90deg);
}

.menu {
  position: absolute;
  right: 35px;
  padding: .8rem;
  transform: .2s;
  animation: showMenu .2s forwards;
  z-index: 1;
  align-self: center;
  display: none;
}

.menu.active {
  display: block;
}

@keyframes showMenu {
  from {
    transform: translateX(20px);
  }

  to {
    transform: none;
  }
}

.menu>ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  align-items: center;
  align-content: center;
}

.menu>ul>li {
  color: #7e7e7e;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  padding: .5rem 1rem;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: .975rem;
  display: flex;
  cursor: pointer;
}

.menu>ul>li:hover {
  background-color: rgb(236, 236, 236);
  color: #6e6e6e;
  transform: scale(1.05);
}

.editIcon::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/edit_icon_small.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: .3rem;
}

.deleteIcon::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/delete_icon_small.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: .3rem;
}

.installmentNumber {
  display: inline-block;
  margin-left: .5rem;
  background-color: rgba(121, 121, 121, .1);
  color: rgba(121, 121, 121, .9);
  width: 20px;
  height: 20px;
  font-size: .875rem;
  padding: .1rem;
  text-align: center;
  font-weight: normal;
  border-radius: 4px;
  cursor: pointer;
}

.installmentNumber.onModal {
  cursor: default;
}