.statementContainer {
  display: block;
  width: 100%;
  margin: 1rem auto;
}

.balanceLine {
  color: #9c9c9c;
  padding: .5rem;
  font-size: .8rem;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 15px;
}

.relatedTransactionsContainer {
  max-height: 350px;
  overflow: auto;
}

@media screen and (max-width: 480px) {
  .balanceLine {
    gap: .2rem;
    margin-bottom: .7rem;
    justify-content: space-between;
  }

  .statementContainer {
    margin: 0;
  }

  .relatedTransactionsContainer {
    max-height: unset;
    height: 80vh;
  }
}