.separator {
  margin: .5rem auto;
  padding: .5rem;
  font-size: .875rem;
  text-transform: lowercase;
  text-align: center;
  color: #abb9c2;
  font-family: 'Ubuntu', sans-serif;
  background-color: #EEF2F5;
  border-radius: 20px;
  width: 98%;
}